@import url("../style.css");

$montserrat: 'Montserrat', sans-serif;
$orange: #c59d5f;

// menu
.sectionMenu {
    margin-top: 5rem;
}

@media (min-width: 375px) {
    .sectionMenu {
        margin-top: 3rem;
    }
}
@media (min-width: 900px) {
    .sectionMenu {
        margin-top: 5rem;
    }
}

.sectionMenu__header {
    padding: 3em 0 2em;
}

// sectionMenu title
.sectionMenu__title {
    color: #222;
    font-family: $montserrat;
    text-align: center;
    font-size: 2rem;
}

.underline {
    height: 0.2rem;
    width: 4rem;
    background-color: $orange;
    border-radius: 1rem;
    margin-left: calc(50% - 2rem);
}

// menu buttons
.btn-container {
    text-align: center;
    padding-bottom: 2rem;
}

.filter-btn {
    border: 2px solid $orange;
    border-radius:10px;
    color: $orange;
    padding: .5em 1em;
    font-size: .8rem;
    font-weight: 700;
    transition: all .4s ease;
    letter-spacing: 1px;
    margin: 0 .2rem .5rem;
    &:hover {
        transform: translateY(-3px);
        color: hsl(212, 33%, 89%);
        background-color: $orange;
    }
}

// menu items
.menu {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 1.5rem 0;
    &__photo {
        width: 100%;
        max-height: 230px;
        object-fit: cover;
        background-color: $orange;
        border: .2rem solid $orange;
        border-radius: 10px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .7rem 0 .5rem;
        border-bottom: 1px solid rgb(177, 175, 175);
    }
    &__title {
        font-family: $montserrat;
        font-size: .75rem;
        font-weight: 600;
        letter-spacing: .2rem;
        text-transform: capitalize;
    }
    &__desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - 1.5rem);
    }
    &__price {
        font-family: $montserrat;
        font-size: .75rem;
        font-weight: 600;
        letter-spacing: .2rem;
        color: $orange;
    }
    &__text {
        text-align: left;
        font-size: .7rem;
        font-family: $montserrat;
        line-height: 1.5;
        padding: .8rem 0;
    }
}

@media (min-width: 700px) {
    
    .menu {
        max-width: 700px;
        display: flex;
        &__photo {
            max-width: 235px;
            max-height: 150px;
            margin-right: 1.5rem;
        }
        &__info {
            width: 65%;
        }
        &__title {
            font-size: .9rem;
            letter-spacing: .1rem;
        }
        &__price {
            font-size: .9rem;
            letter-spacing: .1rem;
        }
        &__text {
            padding-bottom: 0;
        }
        &__header {
            padding: 0 0 .3rem;
        }
    }
}

@media (min-width: 1250px) {

    // menu

    // menu title
    .sectionMenu__title {
        font-size: 3rem;
    }
    .menu-container {
        padding: 0 4rem;
        max-width: 1440px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem 1.5rem;
    }

    .menu {
        width: 100%;
        padding: 0;
        &__photo {
            max-width: 239px;
            max-height: 161px;
        }
        &__desc {
            height: calc(100% - 26px);
        }
    }
}

// purchase buttons
.purchase-btn {
    background-color: $orange;
    color: hsl(212, 33%, 89%);
    border: 2px solid transparent;
    border-radius:10px;
    padding: .5em 1em;
    font-size: .8rem;
    font-weight: 700;
    transition: all .4s ease;
    letter-spacing: 1px;
    text-transform: capitalize;
    display: inline-block;
    
    &:hover {
        transform: translateY(-3px);
        border: 2px solid $orange;
        color: $orange;
        background-color: transparent;
    }
}

// modal

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: rgba(34, 34, 34, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
    &__center {
        width: 85%;
        max-width: 20rem;
        text-align: center;
        background-color:hsl(209, 28%, 39%);
        padding: 3rem 1.5rem 2.5rem;
        border-radius: 10px;
        box-shadow: 1px 1px 5px #222;

        position: relative;
    }
    &__close {
        color: hsl(360, 67%, 44%);
        position: absolute;
        right: 1rem;
        top: .8rem;
        font-size: .8rem;
    }
    &__photo {
        width: 100%;
        max-height: 173px;
        object-fit: cover;
        border-radius: 10px;
    }
    &__desc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 0;
    }
    &__title {
        font-size: .75rem;
        font-family: $montserrat;
        font-weight: 600;
        letter-spacing: .2rem;
        text-transform: capitalize;
        color: hsl(210, 31%, 80%);
        text-shadow: .5px .5px 1px #222;
        text-align: left;
    }
    &__price {
        font-family: $montserrat;
        font-size: .75rem;
        font-weight: 600;
        letter-spacing: .2rem;
        color: $orange;
        text-align: right;
    }
    &__quantity {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem 0 0;
        &--btn {
            color:hsl(212, 33%, 89%);
            font-size: 1rem;
            border: 1px solid hsl(205, 72%, 37%);
            background-color: hsl(205, 72%, 37%);
            padding: 0 .3em;
            border-radius: 3px;
        }
        &--value {
            display: inline-block;
            font-size: .7rem;
            padding: 0 .5em;
            border: 1px solid green;
            color:hsl(212, 33%, 89%);
        }
    }
    &__btn {
        font-family: $montserrat;
        color:hsl(212, 33%, 89%);
        background-color: $orange;
        border: 2px solid $orange;
        padding: .5em 1em;
        margin: 1rem 0 0;
        border-radius: 10px;
        font-weight: 700;
        letter-spacing: 1px;
        box-shadow: .5px .5px 2px #222;
        &:hover {
            color: $orange;
            background-color: transparent;

        }
    }
}

.show-modal {
    display: flex;
}

